*                   @paketo-buildpacks/steering-committee
text/builders/      @paketo-buildpacks/builders-maintainers
text/content/       @paketo-buildpacks/content-maintainers
text/dependencies/  @paketo-buildpacks/dependencies-maintainers
text/dotnet-core/   @paketo-buildpacks/dotnet-core-maintainers
text/go/            @paketo-buildpacks/go-maintainers
text/java/          @paketo-buildpacks/java-maintainers
text/nodejs/        @paketo-buildpacks/nodejs-maintainers
text/php/           @paketo-buildpacks/php-maintainers
text/python/        @paketo-buildpacks/python-maintainers
text/ruby/          @paketo-buildpacks/ruby-maintainers
text/rust/          @paketo-buildpacks/rust-maintainers
text/stacks/        @paketo-buildpacks/stacks-maintainers
text/tooling/       @paketo-buildpacks/tooling-maintainers
text/utilities/     @paketo-buildpacks/utilities-maintainers
text/web-servers/   @paketo-buildpacks/web-servers-maintainers
